[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
termcolor = "*"
typer = "*"
build = "*"
typing-extensions = "*"
pytelegrambotapi = "*"
python-semantic-release = "*"

[dev-packages]
pre-commit = "3.7.0"
pylint = "*"

[scripts]
build = "python3 -m build"
format = "pre-commit run --all-files"

[requires]
python_version = "3.11"
